
name: <br>
<select [(ngModel)]="SelectedMaterial">
  <option *ngFor="let material of materials" value="{{material.name}}">{{material.name}}</option>
  <option value=""> Other </option>
</select><br>
<input *ngIf="!SelectedMaterial" type="text" [(ngModel)]="uMaterial" placeholder="Please type material name here"><br>
Amount: <br>
<input type="number" [(ngModel)]="uAmount"><br>
<button type="button" name="submitButton" (click)="OnSubmit()">确定</button>

<app-material-list [materials]="materials"></app-material-list>
